 <div class="bio-section">
            <h2>Bio Data</h2>
            
            <div class="bio-section--main">
              
            <div class="box update-passport">
            <img src="./assets/images/photo.png" alt="photo">
            <p>Update Passport</p>
            </div>
            
            <div class="box basic-data">
  <img src="./assets/images/visa.png" alt="visa">
  <p>Basic Data</p>
</div>

<div class="box ed-history">
  <img src="./assets/images/scholarship.png" alt="scholarship">
  <p>Education History</p>
</div>

<div class="box doc-upload">
  <img src="./assets/images/document.png" alt="document">
  <p>Document Upload</p>
</div>

<div class="box adm-letter">
  <img src="./assets/images/printer.png" alt="print">
  <p>Print Admission Letter</p>
</div>

<div class="box print-bio">
  <img src="./assets/images/printer.png" alt="print">
  <p>Print Bio-Data</p>
</div>
          </div>
  </div>