<div class="dashboard-section">
  
  <div class="dashboard-section--main">
    
  
<h2>Dashboard</h2>
          <div class="box course-box">
            <img src="./assets/images/document.png" alt="Courses">
            <p>
              Courses
            </p>
            
            <div>
              <span id="courses_completed">19</span>/<span id="courses_total">160</span> Completed
            </div>
            <progress value="0.11875"></progress>
          </div>
          
          <div class="payment-box">
            <div class="box refresh_payment">
              <img src="../assets/images/refresh(1).png" alt="refresh payment status" />
              <p>Refresh Payment Status</p>
            </div>
            
            <div class="box payment">
              <img src="../assets/images/credit-card.png" alt="payments" />
              <p>Payments</p>
            </div>
          </div>
          
          <div class="box application-box">
            <img src="../assets/images/homework(1).png" alt="Application">
            <p>Applications</p>
          
          </div>
          </div>
        </div>