 <div class="payments-section">
            <h2>Payments</h2>
            
            <div class="payments-section--main">
            <div class="box generate-fees">
            <img src="./assets/images/visa.png" alt="">
            <p>Generate Fees</p>
            </div>
            
             <div class="box pay-advice">
                <img src="./assets/images/visa.png" alt="">
                 <p>View Pay Advice</p>
             </div>
             
            <div class="box remitta-pay">
                <img src="./assets/images/credit-card.png" alt="">
                 <p>Pay With Remitta</p>
            </div>
            
  <div class="box print-receipt">
   <img src="./assets/images/printer.png" alt="">
   <p>Print Receipt</p>
 </div>
  <div class="box refresh-payments">
   <img src="./assets/images/refresh(1).png" alt="">
   <p>Refresh Payment Status</p>
 </div>
          </div>
 </div> 